.hero picture img{
    width: 100%;
    padding: 30px 0;
    z-index: 0;
}
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 500px;
    margin: 0 0 30px;
    border: 1px solid #ddd;
    height: 600px;
}
.card * {
    margin: 10px;
}
#location-icon, #weather-icon {
    filter: invert(70%);
    width: 20%;
}

#location-heading, #weather-heading {
    margin-bottom: 50px;
}