:root {
    --background-color: #282c34;
    --layer-color: #3D4351;
    --text-color: #abb2bf;
    --color-red: #e06c75;
    --color-green: #98c379;
    --color-yellow: #e5c07b;
    --color-blue: #61afef;
    --color-magenta: #c678dd;
    --color-cyan: #56b6c2;
    --color-white: #abb2bf;
    --color-black: #282c34;
    --default-font: 'Exo 2', sans-serif;
    --font-title-size: 1.5em; 
    --font-size: 1.2em;
}

#gallery {
    margin: 0 auto;
    max-width: 500px;
}
h2 {
    text-align: center;
}
figure {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid #bbb;
    padding: 1rem;
    justify-items: center;
    align-items: center;
}
figure figcaption {
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(61,67,81,1) 40%, rgba(61,67,81,1) 60%, rgba(0,0,0,0));
    padding: 0 50px;
}